<nav id="menu">
  <h2>Menu</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/times">Times</a></li>
    <li><a href="/jogos">Jogos Simultâneos</a></li>
    <li><a href="/logs">Logs</a></li>
    <li><a href="/generic">Consequat dolor</a></li>
    <li><a href="/element">Elements</a></li>
  </ul>
</nav>