<% include ../partials/header %>
<% include ../partials/navbar %>

<div id="main">
  <div class="inner">
    <h1>Exportar Jogadores</h1>

    <!-- Table -->
    <section>

      <%= message %>

      <form method="post" action="/times/exportar">
        <div class="row gtr-uniform">
          <div class="col-12">
            <select name="time" id="time">
              <% times.forEach(function(time) { %>
              <option value="<%= time.id %>"><%= time.nome %></option>
              <% }); %>
            </select>
          </div>
          <div class="col-12">
            <ul class="actions">
              <li><input type="submit" value="Exportar" class="primary" /></li>
            </ul>
          </div>
        </div>
      </form>


    </section>

  </div>
</div>

<% include ../partials/footer %>